<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117116043-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-117116043-1');
    </script>

    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>newTweet</title>
  </head>
  <body>
    <h1>NewTweetBot</h1>
    <h3>概要 : 過去のツイートを学習し、新しいツイートを生み出します！</h3>
    ※生成には時間がかかることがあります
    <hr>
    {% if auth == False %}
      <p> <a class="pure-button pure-button-primary" href="{{ url_for('twitter_auth') }}">ツイートを生成する</a> </p>
    {% else %}
      {% if text != "" %}
        <!-- ツイートボタン -->
        {{ tweet_html.decode('utf-8') | safe }}
        <h3> 生成された文章 </h3>
          <div style="padding: 10px; margin-bottom: 10px; border: 5px double #333333; border-radius: 10px;">
            {{ text.decode('utf-8') }}
          </div>
      {% else %}
        <div style="padding: 10px; margin-bottom: 10px; border: 5px double #333333; border-radius: 10px;">
          このアカウントでは1件もツイートされていません！
        </div>
      {% endif %}
    {% endif %}
    <footer>
      <hr>
      <p> This application was made by <a href="https://twitter.com/oit_chocobo">chocobo</a> </p>
    </footer>
  </body>
</html>